.hero-header {
  background-image: url(../../images/hero_header.png);
  height: 400px;
  width: -webkit-fill-available;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-header::before{
  background-color: rgba(0, 0, 0, 0.37);
  content: '';
  display: block;
  height: 400px;
}
