{% extends 'base.html.twig' %}

{% block title %}
  user_sign-in
{% endblock %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    <form class="w-75 mx-auto mt-5"  method="post">
      <h1 class="text-center">Create user</h1>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="" placeholder="username"
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="" placeholder="username@gmail.com"
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password" value="" placeholder="Password"
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Confirm Password</label>
        <input type="text" class="form-control" id="password_comfirm" name="password_comfirm" value="" placeholder="Password"
      </div>
      <div class="mb-3">
        <input type="hidden" name="csrf" value="{{ csrf_token('register_form') }}">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    {{ error | default("") }}
  </div>
{% endblock %}
