{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/components/hero-header.css') }}"
{% endblock %}

{% block body %}
  <div>
    <div class="hero-header">
    </div>
  </div>
{% endblock %}