{% extends 'base.html.twig' %}

{% block title %}
  login
{% endblock %}

{% block body %}
  <div class="default-container">
    <form method="post">
      <input class="form-control" type="text" name="email" placeholder="Email...">
  </div>
{% endblock %}
