{% extends 'base.html.twig' %}

{% block title %}
  login
{% endblock %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    <form method="post">
      <div class="mb-3">
        <input class="form-control" type="email" name="email" placeholder="username@gmail.com">
      </div>
      <div class="mb-3">
        <input class="form-control" type="password" name="password" placeholder="Password"
      </div>

      <input type="hidden" name="csrf" value="{{ csrf_token('login_form') }}">

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}
