{% extends 'base.html.twig' %}

{% block body %}
  <div>
    {{ include('components/hero-header.html.twig') }}
  </div>
  <div>
    {{ include('components/homepage.html.twig') }}
  </div>
{% endblock %}