{% extends 'base.html.twig' %}

{% block title %}
  Index
{% endblock %}


{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>
  <div>
    {{ include('components/hero-header.html.twig') }}
  </div>
  <div class="default-container">
    <br>
    <h1>Hello World!</h1>
    <img src="{{ asset('images/otter_slide.webp') }}">
  </div>
{% endblock %}